$black: #161616;
$yellow: #FDD974;
$pink: #CF6484;
$white: #efefef;
$light-white: #eee;
$font-main: Dosis, sans-serif;
$font-secondary: Cabin, sans-serif;
$grad-dragon: linear-gradient(to top, $yellow, $pink);