.wlist {
  @media screen and (max-width: 768px) {
    padding: 2rem 4rem;
  }
  color: white;
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .icon:after {
    max-width: 25px !important;
    height: auto;
  }
}
.wlist__item {
  @media screen and (max-width: 480px) {
    margin: .5rem;
  }
  opacity: 0.8;
  padding: 0.4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s all ease;
  div {
    margin-top: 0.8rem;
  }
  &:hover {
    opacity: 1;
    box-shadow: 0 0px 3px $light-white;
    cursor: pointer;
  }
}
.wlist__item--selected {
  opacity: 1;
  box-shadow: 0 0px 4px $light-white;
}
.wlist__icon {
  width: 3.8rem;
}
.wlist__range {
  font-family: $font-main;
  letter-spacing: 4px;
  font-size: 1.2rem;
}